<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 3단구조 레이아웃 -->
    <!-- Navigation영역 -->



    <!-- mustache문법 model을 만들어서 사용한다 -->
    <!-- Content영역 -->
    <h1>{{username}}, Nice To Meet You!</h1>

    <!-- Site Information영역 -->

</body>
</html>